@charset "UTF-8";

#driver-chat-window{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 7em;
    gap: 0em;
    

}


#chat-box{
    width: 100%;
    
    overflow-y: auto; 
    overflow-x: hidden;

    display: grid;
    grid-template-rows: auto 1fr; 
    gap: 1em;
    padding: 0.5em;

}

#chat-alert{
    width: 65%;
    height: 6em;

    display: grid;
    place-content: center;

    margin: auto;
    margin-top: 2em;

    border-radius: 10px;

    background-color: #379bf3;

}

#message-list {
    width: 100%;
    display: grid;

    place-self: end center ;

    grid-auto-rows: max-content;
    grid-template-columns: 100%;
    gap: 0.5em;
    padding: 1em;

}

.message-item{
    max-width: 50%;
    
    height: fit-content;

    display: grid;
    grid-template-rows: auto 1fr auto;

    padding: 0.5em;
    
    gap: 0.2em;
    
    border-radius: 10px;

}

.message-item strong{
    grid-area: 1/1/2/2;
    font-size: 0.7em;
    font-weight: 500;
}

.message-item p{
    grid-area: 2/1/2/2;
    font-size: 0.65em;
    margin: 0%;
}

.message-item time{
    grid-area: 3/1/4/2;
    font-size: 0.7em;
}

.message-item-current-user{
    margin-left: auto;

    background-color: #0E87F2;
    color: white;
}

.message-item-current-user p{
    margin-left: auto;
    margin-right: 1em;
}

.message-item-current-user time{
     margin-left: auto;
}

.message-item-other-user{
    margin-right: auto;

    background-color: white;
    color: black;

    border: 1px rgb(165, 165, 165) solid;
}

.message-item-other-user strong{
    margin-right: auto;
    color: #1565C0;
}

.message-item-other-user p{
    margin-right: auto;
}

.message-item-other-user time{
     margin-right: auto;
}



#chat-alert p{
    font-size: 0.7em;
    text-align: center;

    margin: 0%;

    color: white;
}


#input-submit-message{
    width: 95%;

    display: grid;
    place-self: start center;
    place-items: center start;
    grid-template-columns: 88% 12%;

     border: 2px #0E87F2 solid;
     border-radius: 10px;

    padding: 0em 1em 0em 1em;

}

#input-submit-message input {
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 10px;

    outline: none;
}

#input-submit-message input:hover {
    border: none;
    outline: none;
}

#input-submit-message input:active {
    border: none;
    outline: none;
}

#input-submit-message input:focus {
    border: none;
    outline: none;
}

#btn-submit-message{
    width: 2.5em;
    height: 2.5em;

    display: grid;
    place-content: center;

    border: 2px #0E87F2 solid;
    border-radius: 50px;

    background-color:#0E87F2  ;
}

#btn-submit-message figure{
    width: 75%;
    height: 75%;

    margin: 0%;
    margin-left: 0.3em;
}

#btn-submit-message img{
    width: 100%;
    height: 100%;

    object-fit: contain;
}
