@charset "UTF-8";


#admin-layout-wrapper {
    width: 100vw;
    height: 100vh;

    display: grid;

}


.sidebar-open {
    grid-template-columns: 15% 1fr;
}


.sidebar-closed {
    grid-template-columns: 8% 1fr;
}

#side-bar-wrapper{
    grid-area: 1/1/2/2;
}


#admin-layout-wrapper main{
    grid-area: 1/2/2/3;
}


