@charset "UTF-8";


#payee-info{
    width: 90%;
    height: 12em;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

#payee-info h3{
    grid-area: 1/1/2/2;

    font-size: 1em;
    font-weight: 600;

    padding: 1em;
}

.summary-item-pix-payment{
     width: 100%;
    height: 4em;

    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    padding: 1em;
    border-top: 1px solid rgb(187, 186, 186);

}



.summary-item-pix-payment strong{
    font-size: 0.8em;
    font-weight: 600;
    margin-right: auto;

}


.summary-item-pix-payment p{
    font-size: 0.7em;
    font-weight: 500;

    text-align: end;

    margin: auto 0em auto auto;
    
}