@charset "UTF-8";

#side-bar-wrapper{
   width: 100%;
   height: 100vh;

   overflow: hidden;

   display: grid;
   grid-template-columns: 1fr 1.5em;

   gap: 0.3em;

   place-self: start start;
}



#side-bar{

    width: 100%;

    grid-area: 1/1/2/2;

    display: grid;
    grid-template-rows: 15% 5% 1fr;
    place-items: start start;
    gap: 1em;

    background-color: #0E87F2;
}

#logo-side-bar{
    width: 100%;
    height: 10em;

    grid-area: 1/1/2/2;

    margin: 0%;
}

#logo-side-bar img{
    width: 100%;
    height: 100%;
    object-fit: contain ;
}
.layout-logo-and-name p{
    color: white;
}

#company-name{
    width: 100%;
    height: auto;

    text-align: center;

    grid-area: 2/1/3/2;
    
}

#company-name p{
    color: white;
     margin: 0%;
}

.company-name-side-bar-open p{
    font-size: 2.3vh;
}

.company-name-side-bar-close p{
    font-size: 2vh;
}   

#nav-side-bar{
    width: 100%;
    height: 100%;

    grid-area: 3/1/4/2;

    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    margin-top: 1em;
}

.nav-list-option{
    height: 100%;

    list-style: none;

    margin: 0%;
    padding: 0%;
}


.nav-list-option li{
    width: 100%;
    height: 3em;

    display: grid;
    
    margin: 0%;
}

.nav-list-option li:hover{
    background-color: #1565C0;
}

.nav-item{
    width: 100%;

    display: grid;
    place-items: center;
    gap: 0.8em;

    text-decoration: none;
}

.nav-item i{
    color: white;
    font-size: 1.4em;
}

.nav-item-open{
    grid-template-columns: 20% 80%;

}


.nav-item-open p{
    font-size: 0.7em;
    color: white;

    margin: 0%;
    margin-right: auto;
}

.nav-item-closed{
    width: 100%;

    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    
    gap: 0.8em;


    text-decoration: none;
}


.nav-item-closed p{
    display: none;
}



#btn-toogle-side-bar{
    width: 100%;
    height: 5%;

    grid-area: 1/2/2/3;

    display: grid;
    place-items: center;

    margin-top: 2em;

    background-color: #0E87F2;
    color: white;

    border: none;
    border-radius: 0px 10px 10px 0px;
}

