@charset "UTF-8";

#side-bar-wrapper{
   width: 100%;
   height: 100vh;

   overflow: hidden;

   display: grid;
   grid-template-columns: 1fr 1.5em;

   gap: 0.3em;

   place-self: start start;
   background-color: white;
}

#side-bar{
    width: 100%;

    grid-area: 1/1/2/2;

    background-color: #0E87F2;
}

#logo-side-bar{
    width: 100%;
}

#logo-side-bar img{
    width: 100%;
    height: 100%;
    object-fit: contain ;
}



#btn-toogle-side-bar{
    width: 100%;
    height: 5%;

    grid-area: 1/2/2/3;

    display: grid;
    place-items: center;

    margin-top: 2em;

    background-color: #0E87F2;
    color: white;

    border: none;
    border-radius: 0px 10px 10px 0px;
}

