@charset "UTF-8";


#empty-trip-state{
    width: 100%;

    display: grid;
    place-items: center;

    margin-top: 7em;
}

#figure-empty-trip-state{
    width: 35%;
    margin-left: 2em;

}

#figure-empty-trip-state img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


#empty-trip-state p{

    color: white;
    font-size: 1.2em;
}