@charset "UTF-8";

.carousel-days {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    padding: 10px;
    scrollbar-width: none; /* remove a barra no Firefox */
}

.carousel-days::-webkit-scrollbar {
    display: none; /* remove a barra no Chrome */
}

.item {
    flex: 0 0 calc(33.33% - 10px); /* 3 por vez */
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    scroll-snap-align: center;
    text-align: center;
    font-weight: bold;
}
