.background-container {
  position: relative;
}

/* FUNDO ESCURECIDO */
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* escurece */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}


.models {
  width: 60%;
  max-width: 900px;
  height: 400px;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}


.button-open-model {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #0F529E;
  
}
.button-open-model:hover{
    background-color: #064081;

}
