*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.PopUp{
    background-color: white;
    padding: 0px 0px;
    border-radius: 8px;
    border: #000000 1px solid;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.1);
    width: 20rem;
    height: 10rem;
    position: fixed;
    top: 50%;                 
    left: 50%; 
    transform: translate(-50%, -50%); /*isso daqui az com que realmete fique no centro*/
    
}
.TitlePopUp{
    height: 20%;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #1565C0;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    padding-top: 5px;
    margin: 0px;

}
.Description{
    height: 60%;
    font-size: 0.8rem;
    color: #000000;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-content: center;
}

.ButtonPopUpLayout{
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
}

.ButtonPopUp{
    max-width: 50%;
    padding: auto;
    border-top: #1565C0 2px solid;
    font-size: 0.9rem;
    
}


.ConfirmButton{
    border-radius: 0px 0px 0px 8px;
    background-color: #ffffff;
    color: #1565C0;
    
}

.ConfirmButton:hover{
    
    background-color: #e4e4e4;
    
}

.CancelButton{
    border-radius: 0px 0px 8px 0px;
    background-color: #1565C0;
}
.CancelButton:hover{

    background-color: #13529b;
}