
*{
    margin: 0;
    padding: 0;
}
.SideBar{
    height: 100%;
    background-color: #0F529E;
    display: grid;
    grid-template-columns: auto;     
    grid-auto-rows: 30px;
    gap: 20px;
    transition: width 0.5s ease;
}

.SideBar.Closed {
     
    width: 5rem;
}

.SideBar.Open {

  width: 15rem;
  
}
.BT{
    display: grid;
    grid-template-columns: auto auto;
}

button{
    width: 80%;
    margin: auto;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    
    
} 


button:hover {
    background-color: #093669;
    
   
} 
.ButtonOpenSideBar{
    background-color: #0F529E;
    margin-top: 1rem;
    margin-left: 0.1rem;
    height: 2rem;
    width: 1.3rem;
    border-radius: 0px 5px 5px 0px;
    padding: 2px;

}


.ButtonMenu.Open {
    padding: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.6s ease;
}


.ButtonTrip{

   margin-top: 10%;
    
}
.ButtonEmployees{
    margin-top: 5%;
}
.ButtonCustom{
    margin-top: 2%;
}

.ButtonAccount{
    margin-top: 60%;
}
.ButtonSettings{
    margin-top: 60%;
}
.ButtonSuport{
    margin-top: 60%;
}
.ButtonOut{
    margin-top: 60%;
}

img{
    color: thistle;
    text-align: center;
    font-size: small;
}
p{
    color: white;
    font-size: 10px;
    text-align: center;
    font-weight: 600;
    padding: auto;
    margin: auto;
}
i{
    font-size:17px;
}
.EmpresaName{
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
}