.empresa-logo.open{
  padding: auto;  
  margin: auto;
  margin-top: 10px;
  width: 80%;    
  height: auto;   
  transition: all 0.9s ease;   
}
.empresa-logo.closed{
  padding: auto;  
  margin: auto;
  margin-top: 1.5rem;
  width: 100%;    
  height: auto;  
  transition: all 0.5s ease;  
}

.side-bar{
    height: 100%;
    background-color: #0F529E;
    display: grid;
    grid-template-columns: auto;     
    grid-auto-rows: 30px;
    gap: 20px;
    transition: all 0.5s ease;
    
}

.side-bar.closed {
     
    width: 5rem;
    transition: all 0.5s ease-out;  
}

.side-bar.open {

  width: 15rem;
  
}
.layout-sidebar{
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto auto;
}

button{
    width: 80%;
    margin: auto;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    
    
} 


button:hover {
    background-color: #093669;
    
   
} 
.button-open-sidebar{
    background-color: #0F529E;
    margin-top: 1rem;
    margin-left: 0.1rem;
    height: 2rem;
    width: 1.3rem;
    border-radius: 0px 5px 5px 0px;
    padding: 2px;

}


.button-menu.open {
    padding: 8px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.7s ease ; 
}
.button-menu.closed {

    transition: all 0.7s ease ; 
}




.copy-button.closed{
    width: 3rem;
    
    background-color: #00C234;
    border-radius: 10px;
}

.copy-button.open{
    background-color: white;
    box-shadow: #00C234 0px 5px 0;
    border-radius: 10px;

}
.copy-button.open p{
    color: #00C234;
    transition: all 2s ease;
}
.copy-button.open i{
    color: #00C234;

}
.copy-button.open:hover{
    box-shadow: #00A828 0px 5px 0;
    background-color: #E0FFE5;
}


.trip-button{

   margin-top: 10%;
    
}
.employees-button{
    margin-top: 5%;
}
.custom-button{
    margin-top: 2%;
}

.account-button{
    margin-top: 60%;
}
.settings-button{
    margin-top: 60%;
}
.suport-button{
    margin-top: 60%;
}
.out-button{
    margin-top: 60%;
}

img{
    color: thistle;
    text-align: center;
    font-size: small;
}
p{
    color: white;
    font-size: 10px;
    text-align: center;
    font-weight: 600;
    padding: auto;
    margin: auto;
    
}
i{
    font-size:17px;
}
.empresa-name{
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 1rem;
}