
.SideBar{
    margin: 0;
    padding: 0;
    background-color: #0F529E;
    display: grid;
    grid-template-columns: auto;     
    grid-auto-rows: 30px;
    grid-auto-columns: 10px;
    gap: 20px;
    transition: width 0.5s ease;
}

.SideBar.Closed {
     
    width: 5rem;
}

.SideBar.Open {

  width: 10rem;
  
}

button{
    
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
} 

.ButtonMenu.Open {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.6s ease;
}

.ButtonMenu.Closed{
    display: grid;
    grid-template-columns: auto;
}

p{
    color: white;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    padding: auto;
    
}