@charset "UTF-8";

#buyer-information-card{
    width: 90%;
    height: 15em;

    grid-area: 2/1/3/2;

    display: grid;
    grid-template-rows: 2em auto;
    grid-template-columns: 100%;
    place-items: start start;
    gap: 1em;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;

    overflow: hidden;
}

#buyer-information-card h3{
    grid-area: 1/1/2/2;

    padding: 1em;

    font-size: 1em;
}

form{
    width: 100%;
    grid-area: 2/1/3/2;
    display: grid;
    place-items: center;
    
}

.form-custom{
    width: 90%;
    height: 5em;
}

.form-custom label{
    font-size: 0.8em;
}

.form-custom input{
    width: 100%;
    height: 2.3em;
    font-size: 0.8em;

    padding: 0.5em;

    border: 1px rgba(0, 0, 0, 0.336) solid;
    border-radius: 10px;
}

.input-error{
    height: 0.5em;


    font-size: 0.6em;
    color: red;


    margin-top: 0.5em;
}
