@charset "UTF-8";

#header-home-mobile{
    grid-template-columns: 1fr;
    grid-template-rows: 4em 5em 9em;
}

#banner-image{
    width: 100%;
    height: 100%;

    display: grid;
    grid-area: 1/1/3/2;
    overflow: hidden;

    margin: 0%;
}

#banner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#profile-card{
    display: grid;
    grid-area: 2/1/4/2;
    grid-template-columns: 1fr;
    grid-template-rows: 6em 5em;
    grid-auto-flow: row;
    place-items: center;
    
    gap: 2.5em;  
    overflow: hidden;
}

#profile-image{
    width: 5em;

    display: grid;
    grid-area: 1/1/2/2;

    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;  
}

#profile-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#profile-info{
    width: 90%;
    height: 8em;

    display: grid;
    grid-area: 1/1/3/2;
    grid-template-rows: 2fr 1fr;
    gap: 0.7em;

    border-radius: 10px;

    background-color: white;

    color: black;
    text-align: center;
}

#profile-info h1{
    display: grid;
    grid-area: 2/1/3/2;
    place-items: center;

    padding: 0.3em;
    
    font-size: 1.2em;
    text-align: center;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#profile-info p{
    display: grid;
    grid-area: 3/1/4/2;
    place-items: center;
    
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}




