.grid-general{
    display: grid;
    grid-template-columns: auto auto;
}
.grid-main-and-footer{
    margin-top: 1rem;

}

.employees-main-container {
    padding: 20px;
}

.employees-title-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.employees-content-box {
    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
}

.employees-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employees-header-section h2 {
    font-size: 20px;
    font-weight: 600;
}

.button-add-employee {
    background-color: #4ea8ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.button-add-employee:hover {
    background-color: #1d8cf5;
}

.employees-filters-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 20px;
    align-items: end;
}

.employees-filter-field label {
    font-size: 15px;
    font-weight: 500;
}

.employees-filter-field input,
.employees-filter-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 15px;
}

.button-search-employees {
    height: 45px;
    width: auto;
    margin-top: 30px;
    padding: 0 25px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 15px;
}

.button-search-employees:hover {
    background-color: #0059c9;
}

.employees-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

.employees-table thead {
    background-color: #007bff;
    color: white;
}

.employees-table th,
.employees-table td {
    padding: 14px;
    border: 1px solid #dcdcdc;
    text-align: left;
    font-size: 15px;
}

.employees-table tbody tr:hover {
    background-color: #f5f5f5;
}
