@charset "UTF-8";

#header-manager-employees{
    width: 100%;
    height: 100%;

    grid-area: 1/1/2/2;
    display: grid;
    place-items: end start;

}

#header-manager-employees h1{
    text-align: left;
}