.title-model-manager h2{
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 6rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 2px 2px rgb(201, 201, 201);
}

.layout-informations-model-manger{
    display: grid;

    padding: 20px;
}

.informations-model-manger{
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    align-items: center;
    font-size: 1rem;
    border: 1.5px solid #6b6b6b;
    border-radius: 5px;
}

.title-input-manager{
    color: black;
    font-size: 1.1rem;
}



.layout-input-cargo-cnh{
    display: grid;
    grid-template-columns: auto auto;
}

.layout-buttons-model-manager{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    width: 95%;
    gap: 10px;
    margin-top: 20px;
}

.layout-buttons-model-manager button{
    padding: 10px;
    width: 200px;
    justify-items: end;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.button-cancel-model{
    background-color: transparent;
    border: 2px solid #0E87F2 ;
    color: #0E87F2;
}

.button-cancel-model:hover{
    background-color: transparent;
    font-weight: 700;
}

.button-save-model{
    background-color: #0E87F2;
    color: white;
}





/*part padrao do model tera em todos*/
.background-container {
  position: relative;
}


.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}


.model-manager {
  width: 100%;
  max-width: 900px;
  height: auto;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}


.button-open-model {
  padding: 0.5rem 1rem;
  border: 2px #0F529E solid;
  color: #0F529E;
  font-weight: 500;
  width: auto;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;

  
}
.button-open-model:hover{
  border: 2.3px #0f4c92 solid;
  color: #0f4c92;
  font-weight: 700;

  background-color: transparent;

}

.error-text {
  color: red;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
}
