@charset "UTF-8";


#model-header-add-employees {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    place-items: end start;

    padding: 1em;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#model-header-add-employees h2 {
    font-weight: 500;

    margin: 0%;

}

