@charset "UTF-8";


#model-header-add-employees {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    place-items: end start;

    padding: 1em;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#model-header-add-employees h3 {
    font-weight: 600;

    margin: 0%;

}

#nav-tab-add-employees {

    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 100%;
    gap: 1em;

}

.tab-active-add-employees {
    all: unset;
    cursor: pointer;

    font-weight: 600;

    color: #0E87F2;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;

    

}

.tab-active-add-employees:hover{
    color: #0C78D6;
}

.tab-inactive-add-employees {
    all: unset;
    cursor: pointer;

    font-weight: 600;

    color: #AFAFAF;

}