@charset "UTF-8";

#model-form-add-employees{
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    gap: 1em;
    place-items: start center;

    padding: 2em 1em 2em 1em;

    overflow-y: auto;

    background-color: #F9F9F9;
}

.accordion-add-employees {
    width: 95%;
    height: auto;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;

}

.accordion-header-add-employees{
    width: 100%;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto;
    justify-content: space-between;

    border-bottom: 1px solid black;
}

.accordion-header-add-employees h3{
    font-size: 1.3em;
}

.accordion-header-add-employees i{
    font-size: 1.3em;
}


