@charset "UTF-8";


#model-header-add-employees {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    place-items: end start;
}

#model-header-add-employees h3{
    margin: 0%;

}
#nav-tab-add-employees{

}