@charset "UTF-8";

#left-panel{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    place-items: center;
    overflow: hidden;


    background: linear-gradient(#0a58ca, #003f7f);
}

#system-logo{
    width: 100%;

    margin: 0%;  
}

#system-logo img{
    width: 100%;
    height: 100%;

    object-fit: contain;
}

#left-panel-messages{
    width: 85%;

    margin-left: auto;
    margin-bottom: 2em;
}

#left-panel-messages h3{
    font-size: 1.3em;

    color: white;
}

#left-panel-messages p{
    font-size: 0.8em;

    color: white;
}