@charset "UTF-8";


#modal-header-add-travel {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    place-items: end start;

    padding: 1em;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#model-header-add-travel h3 {
    font-weight: 600;

    margin: 0%;

}

