@charset "UTF-8";

#modal-form-add-travel{
     width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto  1fr;
    place-items: start center;
    gap: 0em;

    padding: 2em;
}

.accordion-add-travel {
    width: 95%;
    height: auto;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;

}

.accordion-header-add-travel{
    width: 100%;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto;
    justify-content: space-between;

    border-bottom: 1px solid black;
}

.accordion-header-add-travel h3{
    font-size: 1.3em;
}

.accordion-header-add-travel i{
    font-size: 1.3em;
}

