@charset "UTF-8";

#modal-form-add-travel {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    place-items: start center;

    overflow-y: auto;
    padding: 2em;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


