@charset "UTF-8";

#travel-catalog-panel {
    width: 90%;
    height: 90%;


    display: grid;
    grid-template-rows: 5em 7em auto;



    border: 1px black solid;
    border-radius: 10px;
}

#header-travel-catalog-panel {
    width: 100%;

    grid-area: 1/1/2/2;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;

    padding: 0.8em;

    border-bottom: black 1px solid;
}

#header-travel-catalog-panel h3 {
    margin: 0%;
    margin-right: auto;

    font-size: 1.3em;
}

#header-travel-catalog-panel button {
    width: 45%;
    height: 2.5em;


    border: 1px #0E87F2 solid;
    border-radius: 10px;

    background-color: white;

    font-weight: 600;
    color: #0E87F2;


    margin-left: auto;

}

#search-travel-catalog-panel {
    width: 100%;

    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    place-items: center start;

    padding: 1em;
}

.form-group-search-travel {
    width: 95%;
}

.form-group-search-travel label {
    font-size: 0.8em;
}

.form-group-search-travel input {
    font-size: 0.8em;
}


#search-travel-catalog-panel button {
    width: 90%;
    height: 2.5em;

    margin-left: auto;
    margin-top: 2em;
}

#travel-catalog-list{
    width: 100%;
     

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    place-content: start center;
    gap: 1em;

    overflow-y: auto;

    border-top: 1px solid #AFAFAF;

    padding: 0%;
    padding: 1em 0em 1em 0em;
}

.travel-catalog-item{
    width: 98%;
    height: 7em;
    

    display: grid;
    grid-template-rows: 60% 40%;
    place-self: center;


    border: black 1px solid;
    border-radius: 10px;
}

.item-info-primary{
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 10%;
    grid-template-rows: 100%;
    gap: 1em;

    padding: 0.5em;
}

.item-info-primary strong{
    font-size: 1em;
    font-weight: 600;
    
}

.item-info-primary p{
    font-size: 0.9em;
    font-weight: 500;
}

.item-info-primary data{
    font-size: 0.8em;
    font-weight: 500;

    display: grid;
}

.item-info-primary button{
     background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    display: grid;
    place-items: start center;
}

.icon-copy{
    width: 50%;
    height: 50%;

    display: grid;
    place-items: center;

    border-radius: 10px;

    background-color: #00C234;
}

.icon-copy i{
    color: white;

}

.item-info-secondary{
     width: 100%;

    display: grid;
    grid-template-columns: 30% 1fr 15%;
    grid-template-rows: 100%;

    border-top: 1px solid #AFAFAF;
    padding: 0.5em;
}

.group-icon-info{
    width: 100%;
    height: 100%;

    grid-area: 1/1/2/2;

    display: grid;
    grid-template-columns: 20% 30% 50%;
    place-items: center start ;

    margin-left: 0.5em;
    
}

.group-icon{
    display: grid;
    grid-template-columns: auto auto;
    place-items: center ;
    gap: 0.5em;
    padding-right: 0.5em;

    border-right: 1px solid #AFAFAF;
}

.group-icon p{
    font-size: 0.8em;

    margin: 0%;
}

.state-travel-item{
    width: 100%;

    grid-area: 1/3/2/4;
    display: grid;
    place-items: center;

    border-radius: 10px;

    background-color: #00C234;
}

.state-travel-item p{
    color: white;

}

@media (max-width: 1290px){

    .item-info-secondary{
        grid-template-columns: 40% 1fr 20%;
    }

}

@media (max-width: 990px){
    .item-info-secondary{
        grid-template-columns: 50% 1fr 20%;
    }
}

@media (max-width: 960px){
    #travel-catalog-panel{
        width: 97%;
    }
    #header-travel-catalog-panel button{
        width: 50%;

    }

    .item-info-primary{

    }
}