@charset "UTF-8";

#header-mobile-resume{
    width: 100%;
    height: 3em;
    
    display: grid;
    grid-template-columns: 1fr 6fr;
    place-items: center;

    background-color: #0E87F2;
}


#header-mobile-resume p{
    grid-area: 1/1/2/3;

    margin: 0%;

    font-size: 0.9em;
    text-align: center;

    color: white;
}