    @charset "UTF-8";

    #right-panel {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 80% ;
        gap: 1em;

        padding: 3em;

        background-color: white;
    }

    #login-title {
        grid-area: 1/1/2/2;
        font-size: 1.8em;

        margin: 0%;
    }

    #form-login-admin {
        width: 100%;

        grid-area: 2/1/3/2;

        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1em;
        place-items: start;

        border: none;
    }

    .form-custom-admin{
        width: 100%;
    }

    .form-custom-admin label {
        width: 95%;

        font-size: 0.9em;
    }


    .form-custom-admin input {
        width: 100%;
        height: 3em;
        font-size: 0.8em;

        padding: 0.5em;

        border: 1px rgba(0, 0, 0, 0.336) solid;
        border-radius: 10px;
    }


    .input-error-desktop {
        height: 0.5em;


        font-size: 0.5em;
        color: red;


        margin-top: 0.5em;
    }

    .password-field {
        position: relative;
    }

    .password-icon {
        position: absolute;
        right: 10px;
        top: 6px;
        cursor: pointer;
        font-size: 18px;
    }

    #btn-login-admin{
        width: 90%;
        height: 3em;
        

        display: grid;
        place-items: center;
        

        color: white;
        background-color: #0E87F2;
        transition: background-color .2s ease;
    }

    #btn-login-admin:hover{
        background-color: #0C78D6;
    }