@charset "UTF-8";

#admin-login{
  width: 100%;
  height: 100vh;

  display: grid;
  place-items: center; 

  background: linear-gradient(#0085ff, #003a74);
  overflow: hidden;
}

#login-panel {
  width: 50%;
  height: 60%;

  display: grid;
  grid-template-columns: 40% 60%; 
  border-radius: 10px;

  background-color: white;
  transition: all 1.5s ease;
  
}
@media (min-width: 910px) and (max-width: 1100px){
  #login-panel{
    width: 60%;
  }


}
@media (min-width: 750px) and (max-width: 910px){
  #login-panel{
    width: 75%;
  }
}

@media (min-width: 650px) and (max-width: 750px){
  #login-panel{
    width: 85%;
  }
}

@media (min-width: 500px) and (max-width: 650px){
  #login-panel{
    width: 95%;
  }
}


@media (max-width:500px){
  #login-panel{
  
    width: 90%;
    height: auto;
    grid-template-columns: 100%;
    
  }
}