@charset "UTF-8";

#admin-login{
  width: 100%;
  height: 100vh;

  display: grid;
  place-items: center; 

  background: linear-gradient(#0085ff, #003a74);
  overflow: hidden;
}

#login-panel {
  width: 50%;
  height: 60%;

  display: grid;
  grid-template-columns: 40% 60%; 
  border-radius: 10px;

  background-color: white;
  
}



@media (max-width:900px){
  #login-panel{
  
    width: 90%;
    height: auto;
    grid-template-columns: 100%;
    
  }
}