    @charset "UTF-8";

    #right-panel {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
        gap: 1em;

        padding: 3em;

        background-color: white;
    }

    #system-logo-rigth {
        grid-area: 1/1/2/2;
        width: 6em;
        height: 6em;
        justify-self: start;
        border-radius: 100%;
        background-color: #0C78D6;
        display: none;
        margin: 0;

    }

    #system-logo-rigth img {
        
        height: 100%;
        width: 100%;
        justify-self: center;
        

        object-fit: contain;

    }

    #login-title {
        grid-area: 1/1/3/2;
        font-size: 200%;

        margin: 0%;
    }

    #form-login-admin {
        width: 100%;

        grid-area: 2/1/4/2;

        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1em;
        place-items: start;

        border: none;
    }



    .form-custom-admin {
        width: 100%;
    }

    .form-custom-admin label {
        width: 95%;

        font-size: 0.9em;
    }


    .form-custom-admin input {
        width: 100%;
        height: 3em;
        font-size: 0.8em;

        padding: 0.5em;

        border: 1px rgba(0, 0, 0, 0.336) solid;
        border-radius: 10px;
    }


    .input-error-desktop {
        height: 0.5em;


        font-size: 0.5em;
        color: red;


        margin-top: 0.5em;
    }

    .password-field {
        position: relative;
    }

    .password-icon {
        position: absolute;
        right: 10px;
        top: 6px;
        cursor: pointer;
        font-size: 18px;
    }

    .layout-password {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .button-password {
        width:auto;

        text-decoration: underline;
        border: none;


        color: #0E87F2;
        background-color: transparent;

        cursor: pointer;
    
        padding: 0;
        font-size: 0.7em;
    }


    .layout-button-login {
        display: grid;
        width: 100%;
    }

    #btn-login-admin {
        width: 90%;
        height: 3em;

        justify-self: center;
        display: grid;
        place-items: center;
        align-content: center;


        color: white;
        background-color: #0E87F2;
        transition: background-color .2s ease;
    }

    #btn-login-admin:hover {
        background-color: #0C78D6;
    }


    .register-firm {
        display: grid;
        grid-template-columns: auto auto;
        width: auto;
        margin-top: 1em;
        font-size: 0.9em;
        color: black;
    }

    .button-register-firm {
        text-decoration: underline;
        border: none;
        width: auto;
        color: #0E87F2;
        cursor: pointer;
        padding: 0;
        font-size: 0.9em;
    }

    .button-register-firm:hover {

        background-color: transparent;
    }
    


    @media screen and (max-width: 500px) {

        #right-panel {
            height: 30em;
            padding: 1.3em;
            grid-template-rows: 20% 10% 40%;
            border-radius: 10px;
        }

        #login-title {
            width: 90%;
            font-size: 2rem;
            height: auto;
        }

        #system-logo-rigth {
            display: grid;

        }
        #login-title{
            grid-area: 2/1/3/2;
        }

        #form-login-admin{
            grid-area: 3/1/4/2;
        }







    }