@charset "UTF-8";

#driver-login{
    width: 100%;
    height: 100vh;
    
    margin: 0%;
    padding: 0%;


    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    place-items: center;

    border: 0em;


    background-color: #077BFF;
}