@charset "UTF-8";

#driver-chat-window{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10% ; 
    gap: 0.5em;
    

}


#chat-box{
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: max-content;
    gap: 1em;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 0.5em;

}

#chat-alert{
    width: 60%;
    height: 6em;

    display: grid;
    place-items: center;
    place-self: start center;

    border-radius: 10px;

    background-color: #379bf3;

    margin-top: 5em;
}


#chat-alert p{
    font-size: 0.7em;
    text-align: center;

    margin: 0%;

    color: white;
}


#input-submit-message{
    width: 90%;

    display: grid;
    place-self: center;
    place-items: center start;
    grid-template-columns: 90% 10%;

     border: 2px #0E87F2 solid;
     border-radius: 10px;

    padding: 0em 1em 0em 1em;

    margin-bottom: 2em;
}

#input-submit-message input {
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 10px;

    outline: none;
}

#input-submit-message input:hover {
    border: none;
    outline: none;
}

#input-submit-message input:active {
    border: none;
    outline: none;
}

#input-submit-message input:focus {
    border: none;
    outline: none;
}

#btn-submit-message{
    width: 2.5em;
    height: 2.5em;

    display: grid;
    place-content: center;

    border: 2px #0E87F2 solid;
    border-radius: 50px;

    background-color:#0E87F2  ;
}

#btn-submit-message figure{
    width: 75%;
    height: 75%;

    margin: 0%;
    margin-left: 0.3em;
}

#btn-submit-message img{
    width: 100%;
    height: 100%;

    object-fit: contain;
}
