@charset "UTF-8";

#boleto-payment-details{
    width: 100%;
    min-height: 100vh;
    
    margin: 0%;
    padding: 0%;


    display: grid;
    grid-template-rows: auto 1fr ;
    grid-template-columns: 100%;
    place-items: start center;
    
    gap: 1em;

    background-color: #F9F9F9;
}

#scroll-content-boleto-payment{
    width: 100%;
    min-height: 100vh;

    grid-area: 2/1/3/2;

    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 100%;
    place-items: center;

    margin: 0%;
    padding: 0.5em 0em 3em 0em;
    gap: 1em;

    overflow-y: auto;
}