.pagina-login {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#0085ff, #003a74);
  display: grid;
  place-items: center; 
}

.caixa-login {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  width: 780px;
  border-radius: 8px;
  overflow: hidden;
}

.lado-esquerdo {
  background: linear-gradient(#0a58ca, #003f7f);
  padding: 40px 32px;
  color: white;
  display: grid;
  align-content: center;
  gap: 20px; 
}

.logo-sistema {
  width: 20rem;
  height: auto;
  margin-bottom: 30px;
}

.titulo-sistema {
  font-size: 26px;
  font-weight: 600;
}

.mensagem-boas-vindas {
  font-size: 14px;
  font-weight: 600;
}

.mensagem-subtitulo {
  font-size: 12px;
  opacity: 0.8;
}

.lado-direito {
  background: white;
  padding: 40px 32px;

  display: grid;
  align-content: start;
}

.titulo-login {
  margin-bottom: 25px;
}

.label-campo {
  margin-top: 16px;
  font-size: 14px;
  display: block;
}

.campo-texto {
  width: 100%;
  height: 36px;
  margin-top: 4px;
  padding-left: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
}

.campo-senha {
  position: relative;
}

.icone-senha {
  position: absolute;
  right: 10px;
  top: 9px;
  cursor: pointer;
  font-size: 18px;
}

.link-esqueci-senha {
  display: block;
  text-align: right;
  margin-top: 6px;
  font-size: 12px;
}

.botao-entrar {
  width: 100%;
  margin-top: 22px;
  height: 38px;
  background: #0d6efd;
  border: none;
  color: white;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.texto-cadastro {
  text-align: center;
  margin-top: 18px;
  font-size: 12px;
  color: black;
}

.mensagem-erro {
  width: 100%;
  text-align: left;
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
