@charset "UTF-8";

#payment-details{
    width: 90%;
    height: 20em;

    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;

    padding: 1em;
}

#payment-details h3{
     grid-area: 1/1/2/2;

    font-size: 1em;
    font-weight: 600;

    padding-bottom: 0.3em;
}

.summary-item{
    width: 100%;
    height: 5em;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    background-color: white;
}

.summary-item strong{
    font-size: 0.8em;
    font-weight: 600;
    margin-right: auto;

}


.summary-item p{
    font-size: 0.8em;
    font-weight: 500;

    margin: auto 3em auto auto;
    
}

#summary-total{
    background-color: #0E87F2;
}