@charset "UTF-8";

#payment-details-card{
    width: 90%;
    height: 15em;

    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;


}

#payment-details-card h3{
    grid-area: 1/1/2/2;

    font-size: 1em;
    font-weight: 600;

    border-bottom: 1px solid rgb(187, 186, 186);

    padding: 1em;
}

.summary-item-payment-details{
    width: 100%;
    height: 4em;

    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;

    padding: 1em;
    border-bottom: 1px solid rgb(187, 186, 186);

    background-color: white;
}

.summary-item-payment-details strong{
    font-size: 0.8em;
    font-weight: 600;
    margin-right: auto;

}


.summary-item-payment-details p{
    font-size: 0.8em;
    font-weight: 500;

    margin: auto auto auto auto;
    
}

#summary-total{
    border-radius: 0px 0px 10px 10px;

    color: white;
    background-color: #0E87F2;
}