@charset "UTF-8";

#boleto-instruction-card{
    width: 90%;
    height: 25em;

    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    place-items: center;
    gap: 1em;

    padding: 1em;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

#boleto-instruction-card p{
    font-size: 0.9em;
    text-align: center;
}


#boleto-instruction{
    grid-area: 1/1/2/2;
}

#boleto-figure{
    width: 90%;

    grid-area: 2/1/3/2;
  
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

#boleto-figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


#btn-boleto{
    grid-area: 3/1/4/2;
}

#boleto-info{
    grid-area: 4/1/5/2;

}
