.preview{
    height: 20rem;
    background-color: rgb(100, 99, 98);
}
.layout-button-preview{
    display: grid;
    grid-template-columns: auto auto;
}
.go-back-button{
    background-color: transparent;
    border: 1px #1565C0 solid;
    color: #1565C0;
    border-radius: 10px;
}

.publish-button{
    background-color: #1565C0;
    border: 1px #1565C0 solid;
    color: white;
    border-radius: 10px;
}