.topo {
    display: grid;
    grid-template-columns: 2fr auto;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #dcdcdc;
}

.inputs-area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    padding: 15px 0;
    border-bottom: 1px solid #dcdcdc;
}
.input-block input{
    width: 100%;
    border: none;
}
.input-block p {
    font-weight: 600;
    color: #333;
}

.input-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #aaa;
    padding: 6px;
    border-radius: 10px;
}

.toggle-button {
    margin-top: 10px;
    background: transparent;
    width: auto;
    padding: 0.5rem 0.6rem;
    border: 1px solid #555;
    border-radius: 10px;
    color: black;
}
.toggle-button:hover{
    background: transparent;
}

.buscar {
    background: #0E87F2;
    color: white;
    border-radius: 10px;
}

.datas {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.dia-selecionado {
    font-size: 18px;
}

.cards-lista {
    margin-top: 20px;
}
.seta{
    font-size: 30px;
    background: transparent;
    width: auto;
    color: black;
}

.seta:hover{
    background: transparent;
}
