.grid-general{
    display: grid;
    grid-template-columns: auto auto;
    margin: 3rem;
}
.grid-main-and-footer{
    margin-top: 1rem;

}

.title-catalogo h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(3,10.8rem);
    gap: 25px;
    margin-bottom: 15px;
}

.tab {
    background: transparent;
    width: 100%;
    font-size: 18px;
    color: #5A5A5A;
}
.tab:hover{
    background-color: transparent;
}
.tab.active {
    font-weight: 600;
    color: #0F529E;
    text-decoration: underline 2px #0F529E;
}

.catalogo-box {
    border: 1px solid #d9d9d9;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
}
