.layout-card{
    padding: 0.3rem;
    padding-left: 1rem;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    margin-bottom: 0.7rem;
}

.layout-information-card{
    display:grid;
    grid-template-columns: repeat(4 ,2fr) auto;
    margin-bottom: 1rem;
}

.layout-information-card button{
    color: #ffff;
    background-color: #00C234;
    border-radius: 10px;
    padding: 0.3rem 1rem;
    width: auto;
    height: auto;
}

.title-information-card{
    color: #444444;
    font-size: 20px;
}
.information-card{
    color: #000000;
    font-size: 17px;
}



.layout-button-card{
    display:grid;
    grid-template-columns: repeat(2,2rem) 10rem 1fr;
    border-top: 1px solid #d9d9d9;
}
.layout-button-card i{
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    color: #888888;
}

.button-card button{
    background-color: #00C234;
    color: #ffff;
    font-weight: 500;
    border-radius: 10px;
    border: #008000 1px solid;
    width: auto;
    margin-top: 0.2rem;
    padding: 0.3rem 3rem;
}
.button-card{
    width: 100%;
    display: grid;
    justify-content: end;
    
}

.go-and-goback{
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
}


.go-and-goback p{
    color: #444444;

}