.background-container {
    position: relative;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: grid;
    place-items: center;
    z-index: 999;
}

.models {
    width: 90%;
    max-width: 900px;
    height: 80vh;
    max-height: 90vh;
    background: #ffffff;
    padding: 2rem;
    overflow-y: auto;

    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 1.5rem;
}

.button-open-model {
    padding: 0.5rem 1rem;
    border: 2px solid #0F529E;
    color: #0F529E;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
}

.button-open-model:hover {
    border-color: #0f4c92;
    color: #0f4c92;
    font-weight: 700;
}

.model-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-weight: 500;
}

.tab-active {
    color: #0F529E;
    border-bottom: 2px solid #0F529E;
    padding-bottom: 0.4rem;
}

.tab-inactive {
    color: #8a8a8a;
    padding-bottom: 0.4rem;
}

.model-section {
    display: grid;
    gap: 1.3rem;
}

.sections{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.sections p{
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

.sections button{
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
}
.sections button:hover{
  background-color: transparent;
}


.section-inputs {
    display: grid;
    gap: 1.2rem;
}

.two-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}

.input-group {
    display: grid;
    gap: 0.4rem;
}

.input-group p {
    font-size: 0.9rem;
    font-weight: 500;
    color: black;
}

.input-group input,
.input-group textarea {
    width: 100%;
    border: 1px solid #bababa;
    border-radius: 8px;
    padding: 0.6rem;
    font-size: 0.95rem;
    outline: none;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #0F529E;
}

.model-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.cancel-button {
    background: #d6d6d6;
    border-radius: 8px;
    padding: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

.confirm-button {
    background: #0F529E;
    color: white;
    border-radius: 8px;
    padding: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

.error-text {
  color: #e53935 !important;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
}




