@charset "UTF-8";

#driver-trips{
    width: 100%;
    min-height: 100vh;

    margin: 0%;
    padding: 0%;

    display: grid;
    grid-template-rows: 18em auto;
    grid-template-columns: 100%;
    place-items: center;

    gap: 0em;

    background: linear-gradient(to bottom, #077BFF, #0A2F5A);
}

#scroll-content-driver-trips{
    width: 100%;
    height: 100%;
    grid-area: 2/1/3/2;

    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 100%;
    place-items: center;
    gap: 1em;

    overflow-y: auto;

    margin: 0%;
    padding: 0.5em 0em 0.5em 0em;
}