@charset "UTF-8";

#resume-travel{
    width: 100%;
    min-height: 100vh;   
    overflow-y: auto; 
    
    margin: 0%;
    padding: 0%;

    display: grid;
    grid-template-rows: 2.5em auto 5em 5em 1fr; 
    grid-template-columns: auto;
    place-items: start center;
    gap: 2em;

    background-color: #F9F9F9;

    overflow: hidden;
}

.btn-custom {
    width: 90%;
    height: 3.5em;

    display: grid;
    place-items: center;
    
    margin: auto;

    background-color: #0E87F2;
    transition: background-color .2s ease;
}

.btn-custom :hover {
    background-color: #0C78D6;
}