@charset "UTF-8";

#payment-summary{
    width: 100%;
    min-height: 100vh;
    
    margin: 0%;
    padding: 0%;


    display: grid;
    grid-template-rows: auto 1fr ;
    grid-template-columns: 100%;
    place-items: start center;
    
    gap: 1em;


    background-color: #F9F9F9;

}

#scroll-content-payment-summary {
    width: 100%;
    min-height: 100vh;

    grid-area: 2/1/3/2;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    place-items: start center;

    margin: 0%;
    padding: 0.5em 0em 3em 0em;
    gap: 1em;

    overflow-y: auto;
}

