@charset "UTF-8";

#driver-trips-resume{
    width: 100%;
    min-height: 100vh;

    margin: 0%;
    padding: 0%;

    display: grid;
    grid-template-rows: 3em auto;
    grid-template-columns: 100%;
    place-items: start center;

    gap: 1em;

    background-color: #F9F9F9;
}

#scroll-content-driver-trips-resume{
    width: 100%;
    height: 100%;
    grid-area: 2/1/3/2;

    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 100%;
    place-items: start center;
    gap: 1em;

    overflow-y: auto;

    margin: 0%;
    padding: 0.5em 0em 0.5em 0em;
}