@charset "UTF-8";

#trip-chat-card{
    width: 90%;
    height: 4em;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;

    padding: 1em;
}

#trip-chat-card strong{
    font-size: 0.8em;
    font-weight: 600;
    margin-right: auto;
}

#trip-chat-card figure{
    font-size: 0.8em;
    font-weight: 500;

    margin: auto 0em auto auto;
}
