body{
    margin: 0;
    padding: 0;
    background-color: rgb(102, 102, 102);
}

.GridGeral{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: ;
    height: 100vh;
}