@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  overflow-y: auto;
}


main {
  padding: 2rem;
  margin-left: 5rem;       
  margin-bottom: 7%;
  margin-top: 2%;
  transition: all 0.4s ease;
}

html.sidebar-open main {
  margin-left: 15rem;      
}

footer{
  padding: 2rem;
  height: 10rem;
}

.grid-geral{
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  width: 100%;
}

#root {
  display: grid;
  place-items: center;
}
