@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  color-scheme: light; /* ← impede modo escuro automático */
}

html, body, #root {
  width: 100%;
}

body {
  overflow-y: auto;
}

#root {
  display: grid;
  place-items: center;
}
