@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body, #root {
  width: 100%;
}

body {
  overflow-y: auto;
}

#root {
  display: grid;
  place-items: center;

}

:root {
  color-scheme: light;
  forced-color-adjust: none;

  background-color: white;
}


.input-row-full{
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    gap: 0.5em;
    place-items: end start;
}

.input-row-full label{
    font-size: 1em;

    margin-top: auto;
}

.input-row-full input{
    width: 100%;
    height: 2.4em;

    border-radius: 10px;
    padding-left: 0.5em ;

    border: 1px rgba(0, 0, 0, 0.336) solid;
}

.input-row-two-columns{
    width: 100%;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    place-items: start center;
}

.item-row-two-columns{
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
}

.input-row-two-columns label{
    font-size: 1em;

    margin-top: auto;
}

.input-row-two-columns select{
    width: 90%;
    height: 2.4em;

    border-radius: 10px;
    padding-left: 0.5em ;

    border: 1px rgba(0, 0, 0, 0.336) solid;
}

.input-row-two-columns input{
    width: 90%;
    height: 2.4em;

    border-radius: 10px;
    padding-left: 0.5em ;

    border: 1px rgba(0, 0, 0, 0.336) solid;
}

.message-input{
    font-size: 0.8em;
}


.input-error{
    height: 0.5em;


    font-size: 0.5em;
    color: red;


    margin-top: 0.5em;
}

