@charset "UTF-8";

#buyer-information-card{
    width: 90%;
    height: auto;

    grid-area: 2/1/3/2;

    display: grid;
    grid-template-rows: 2em auto;
    grid-template-columns: 100%;
    place-items: start start;
    gap: 1em;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;

    overflow: hidden;
}

#buyer-information-card h3{
    width: 100%;

    grid-area: 1/1/2/2;

    padding: 1em;

    font-size: 1em;
}

#buyer-information-card form{
    width: 100%;
    grid-area: 2/1/3/2;
    display: grid;
    place-items: center;
    gap: 0.3em;

    padding: 1em 0em 1em 0em;

    border-top: 1px solid rgb(187, 186, 186);
    
}

.form-custom{
    width: 95%;
    height: 5em;
}

.form-custom label{
    font-size: 0.8em;
    font-weight: 500;
}

.form-custom input{
    width: 100%;
    height: 2.5em;
    font-size: 0.8em;

    padding: 0.5em;

    border: 1px rgba(0, 0, 0, 0.336) solid;
    border-radius: 10px;
}


