@charset "UTF-8";

#admin-travel-catalog{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 100%;
    place-content: start;
    gap: 1.5em;

    overflow: hidden;

    padding-left: 3em;

}