@charset "UTF-8";

#header-travel-catalog{
    width: 100%;
    height: 100%;

    grid-area: 1/1/2/2;
    display: grid;
    place-items: end start;

}

#header-travel-catalog h1{
    text-align: left;
}

#header-travel-catalog nav{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;

    padding-left: 0.5em;
}

.catalog-option-active{
    color: #0E87F2;
    font-weight: 500;
}

.catalog-option-inactive{
    font-weight: 500;

    text-decoration: none;
    color: #808080;
}