@charset "UTF-8";



.model-add-travel-hidden {
    width: 0%;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;

    transform: translateX(100%);
    transition: 0.3s ease;
    z-index: 9999;

    background: white;
}

.model-add-travel-show {
    width: 60%;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;

    transform: translateX(0);
    transition: 0.3s ease;
    z-index: 9999;

    background: white;
}