@charset "UTF-8";

#travel-catalog-panel {
    width: 90%;
    height: 90%;


    display: grid;
    grid-template-rows: 13% 20% 1fr;



    border: 1px black solid;
    border-radius: 10px;
}

#header-travel-catalog-panel {
    width: 100%;

    grid-area: 1/1/2/2;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;

    padding: 0.8em;

    border-bottom: black 1px solid;
}

#header-travel-catalog-panel h3 {
    margin: 0%;
    margin-right: auto;

    font-size: 1.3em;
}

#header-travel-catalog-panel button {
    width: 45%;
    height: 2.5em;


    border: 1px #0E87F2 solid;
    border-radius: 10px;

    background-color: white;

    font-weight: 600;
    color: #0E87F2;


    margin-left: auto;

}

#search-travel-catalog-panel {
    width: 100%;

    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    place-items: center start;

    padding: 1em;
}

.form-group-search-travel {
    width: 95%;
}

.form-group-search-travel label {
    font-size: 0.8em;
}

.form-group-search-travel input {
    font-size: 0.8em;
}


#search-travel-catalog-panel button {
    width: 90%;
    height: 2.5em;

    margin-left: auto;
    margin-top: 2em;
}