@charset "UTF-8";

#admin-manage-employees{
    width: 100vw;
    height: 100vh;

    display: grid;
}


#main-manage-employees{
    width: 100%;
    height: 100vh;

    grid-area: 1/2/2/3;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100% ;
    place-content: start;
    gap: 1.5em;

    overflow: hidden;

    padding-left: 3em;

}


#side-bar-wrapper{
    grid-area: 1/1/2/2;
}

.manage-employees-sidebar-open {
    grid-template-columns: 15% 1fr;
}


.manage-employees-sidebar-closed {
    grid-template-columns: 8% 1fr;
}
