@charset "UTF-8";

#employees-panel {
    width: 90%;
    height: 90%;


    grid-area: 2/1/3/2;
    display: grid;
    grid-template-rows: 5em 7em auto;



    border: 1px black solid;
    border-radius: 10px;
}

#header-employees-panel {
    width: 100%;

    grid-area: 1/1/2/2;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;

    padding: 0.8em;

    border-bottom: black 1px solid;
}

#header-employees-panel h3 {
    margin: 0%;
    margin-right: auto;

    font-size: 1.3em;
}

#header-employees-panel button {
    width: 45%;
    height: 2.5em;


    border: 1px #0E87F2 solid;
    border-radius: 10px;

    background-color: white;

    font-weight: 600;
    color: #0E87F2;


    margin-left: auto;

}

#search-employees-panel {
    width: 100%;

    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    place-items: center start;

    padding: 1em;
}

.form-group-search-employees {
    width: 95%;
}

.form-group-search-employees label {
    font-size: 0.8em;
}

.form-group-search-employees input {
    font-size: 0.8em;
}

.form-group-search-employees select {
    font-size: 0.8em;

    color: #595C5F;
}

#search-employees-panel button {
    width: 90%;
    height: 2.5em;

    margin-left: auto;
    margin-top: 2em;
}

.table-scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.employee-table th {
    width: 25%;
    
    font-size: 0.8em;

    text-align: center;

    background: #0E87F2;
    color: white;
    font-weight: bold;
     border: 1px solid #ccc;
}



.employee-table tr {
    width: 25%;
    height: 3em;    

    cursor: pointer;

}

.employee-table tr:hover {
    background-color: #f2f2f2;  
}


.employee-table td {
    

    font-size: 0.8em;

    text-align: center;
    border: 1px solid #ccc;
}

@media (max-width: 1200px){
    #employees-panel{
        width: 95%;
    }

    #header-employees-panel button{
        width: 55%;
  }

  .form-control{
    overflow: hidden;
    text-overflow: ellipsis;

    
  }



  .employee-table tbody td{
    padding: 0.1em 0.5em 0.1em 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;

  }
}
@media (max-width: 990px){
  #header-employees-panel button{
    width: 60%;
  }
}
