@charset "UTF-8";

.modal-edit-employees{
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 100%;
}

.modal-edit-employees-hidden {
    width: 0%;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;

    transform: translateX(100%);
    transition: 0.3s ease;
    z-index: 9999;

    background: white;
}

.modal-edit-employees-show {
    width: 60%;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;

    transform: translateX(0);
    transition: 0.3s ease;
    z-index: 9999;

    background: white;
}


#modal-header-edit-employees{
    grid-area: 1/1/2/2;
}

#modal-form-edit-travel{
    grid-area: 2/1/3/2;
    
}

#modal-preview-edit-travel{
    grid-area: 2/1/3/2;
}

#group-button-edit-employees{
    width: 100%;
    height: 100%;

    grid-area: 3/1/4/2;
    display: grid;
    grid-template-columns: 1fr 25% 25%;
    grid-template-rows: 100%;
    gap: 1em;

    padding: 1em;

    border-top: 1px solid black;

}


#cancel-button-edit-employees{
     width: 100%;
    height: 2.5em;

    grid-area: 1/2/2/3;


    border: 1px #0E87F2 solid;
    border-radius: 10px;

    background-color: white;

    font-weight: 600;
    color: #0E87F2;


    margin-left: auto;
}

#continue-button-edit-employees{
    width: 100%;
    height: 2.5em;

    grid-area: 1/3/2/4;

    border: 1px #0E87F2 solid;
    border-radius: 10px;

    background-color: #0E87F2;

    font-weight: 600;
    color: white;


    margin-left: auto;
}