@charset "UTF-8";

#modal-form-add-employees{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto  1fr;
    place-items: start center;
    gap: 0em;

    padding: 2em;
}

