@charset "UTF-8";

#pix-instruction-card{
    width: 90%;

    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    place-items: center;

    padding: 1em;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

#pix-instruction-card p{
    font-size: 0.9em;
    padding: 1em 0em 1em 0em;
}

#pix-instruction{
    grid-area: 1/1/2/2;
    text-align: center;
}

#pix-qr-code{
    grid-area: 2/1/3/2;
}

#pix-qr-code img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#pix-instruction-card button{
    grid-area: 3/1/4/2;
}

#pix-info{
    text-align: center;
    grid-area: 4/1/5/2;
}
