
.title-support{
    width: 100%;
    
}
.title-support h1{
    font-weight: 600;
    color: #000000;
}


.title-question{
    color: black;
    width: 100%;
}
.title-question{
   
    font-size: 20px;
    font-weight: 500;
    text-align: start;
}

.text-faq{
    width: 100%;
    height: 10%;
    color: #000000;
    font-weight: 450;
    font-size: 20px;
    margin-top: 2.5%;
    margin-bottom: 3%;
}
.text-question p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    text-align: start;
    font-weight: 500;
}

.text-question{
    width: 50%;
    margin-left: 1px;
    margin-bottom: 5%;
}

.button-question i{
    color: black;
}
.button-question:hover{
    background-color: transparent;
}

.question-layout{
    display: grid;
    grid-template-columns: 1fr auto;
    
    border-bottom: 1px solid #00000048;
}


.text-find{
    
    font-weight: 600;
    color: #000000;
    text-align: center;
    font-size: 1.5rem;
}
.text-channel{

    margin-top: 2%;
    font-weight: 500;
    color: #000000;
    text-align: center;
    font-size: 1.3rem;
}

.layout-icon-text{
    display: grid;
    grid-template-columns: auto;
    
}
.layout-icon-text p{
    color: #000000;
    width: 100%;
    height: 100%;
    text-align: start;
    margin: 5px;
    padding: 1%;
}
.layout-icon-text i{
    color: #000000;
    width: 100%;
    text-align: right;
    font-size: 2rem;
}

.whatsapp-text{
    display: grid;
    grid-template-columns: auto auto;
    margin: 1rem;
    margin-top: 3rem;
}
.email-text{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 5rem;
}