.title-support{
    width: 100%;
}

.title-question{
    color: black;
}
.text-question p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    text-align: start;
}

.text-question{
    margin-left: 20px;
    margin-bottom: 5%;
}

.button-question i{
    color: black;
}

.question-layout{
    display: grid;
    grid-template-columns: 1fr auto;
    
    border-bottom: 1px solid #00000048;
}
