@charset "UTF-8";

#conteiner{
    width: 100vw;
    height: 100vh;

    margin: 0%;
    padding: 0%;

    display: grid;
    place-items: center;
}

#home-page{
    width: 30%;
    height: 50%;

    display: grid;
    place-items: center;

    border: 1px solid black;
    border-radius: 10px;

    padding: 1em;

    overflow: hidden;
}

#home-page .btn{
    width: 70%;
    height: 3em;

    display: grid;
    place-items: center; 
    text-align: center
}