@charset "UTF-8";

#passenger-manifest {
    width: 100%;

    display: grid;
    place-items: center;
    gap: 1em;
}

#passenger-list {
    width: 100%;
    min-height: 100vh;

    margin: 0%;
    padding: 0%;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    place-items: start center;
}

.passenger-item {
    width: 90%;
    height: 5em;

    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    place-items: center;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.passenger-item input[type="checkbox"] {
    appearance: none;      /* remove o estilo padrão */
    -webkit-appearance: none;

    width: 60%;
    height: 55%;

    border: 2px solid black;
    border-radius: 6px;

    cursor: pointer;
    display: inline-block;
    background-color: white;
}


.passenger-item input[type="checkbox"]:checked {
    background-color: #007bff;  
    border-color: #007bff;
}

.passenger-item input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passenger-item strong {
    font-weight: 500;
    margin-right: auto;
}

.passenger-item figure {
    width: 70%;
    height: 70%;

    margin: auto;
}

.passenger-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
