@charset "UTF-8";

#passenger-manifest {
    width: 100%;

    display: grid;
    place-items: start center;
    gap: 1em;

    padding: 0%;
    margin: 0%;

    border: 0em;
}

#passenger-manifest header {
    width: 90%;
    padding-bottom: 1em;

}


#form-input-manifest{
    width: 100%;
    height: 3.5em;
    font-size: 0.8em;

    padding-left: 2em;

    border: 0em;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

#passenger-list {
    width: 100%;
    height: auto;

    margin: 0%;
    padding: 0%;
    padding-bottom: 1em;

    gap: 1em;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    place-items: start center;
}

.passenger-item {
    width: 90%;
    height: 4.5em;

    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    place-items: center;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.passenger-item input[type="checkbox"] {
    appearance: none;   
    -webkit-appearance: none;

    width: 47%;
    height: 47%;

    border: 2px solid rgb(156, 156, 156);
    border-radius: 12px;

    cursor: pointer;
    display: inline-block;
    background-color: white;
}


.passenger-item input[type="checkbox"]:checked {
    background-color: #007bff;  
    border-color: #007bff;
}



.passenger-item strong {
    font-weight: 600;
    font-size: 0.75em;
    margin-right: auto;
}

.passenger-item figure {
    width: 55%;
    height: 55%;

    margin: auto;
}

.passenger-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
