@charset "UTF-8";

#itinerary-card {
    width: 90%;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;          

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}


.itinerary-segment{

    display: grid;
    grid-template-columns: 3em 2.5em 1fr;
    grid-template-rows: 3.3em 3em 0.2em 3em;
    align-items: center;
    padding: 1em;
    padding-bottom: 2em;

    
}

.itinerary-segment:nth-child(1) {
    border-bottom: 1px solid #ddd;
}

.itinerary-segment h3{
    grid-area: 1/1/2/4;

    font-size: 0.9em;
    font-weight: 600;

    padding-bottom: 0.3em;
}

.segment-time{
    margin-left: auto;

    font-weight: 500;
}

.segment-time-departure{
    grid-area: 2/1/3/2;

    margin-bottom: auto;
  
}

.segment-time-duration{
    grid-area: 3/1/4/2;
    font-size: 0.8em;
    font-weight: 200;
}


.segment-time-arrival{
    grid-area: 4/1/5/2;

    margin-top: auto;
}

.segment-route-line{
    grid-area: 2/2/5/3;
    display: grid;
    place-items: center;
}

.segment-route-line figure{
    width: 13%;
    margin: auto
}

.segment-route-line img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.segment-locations{
    display: grid;
    place-content: center start;
    grid-template-rows: 1em 1em;

}

.segment-locations strong{
    font-size: 0.8em;
    font-weight: 600;
}

.segment-locations p{
    font-size: 0.7em;
}

.segment-locations-origin{
     grid-area: 2/3/3/4;
    margin-bottom: auto;
}


.segment-locations-destination{
    grid-area: 4/3/5/4;

    margin-top: auto;

}


