@charset "UTF-8";

#travel-results{
    width: 100%;
    height: 100%;

    margin: 0%;
    padding: 0%;

    display: grid;
    grid-template-rows: 3em 4em 1fr;
    grid-template-columns: 1fr;

    background: linear-gradient(to bottom, #077BFF, #042C50);

    overflow: hidden;
}
