@charset "UTF-8";

#driver-trip-manifest{
    width: 100%;
    min-height: 100vh;
   
    
    margin: 0%;
    padding: 0%;

    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 100%;
    place-items: start center;
    
    gap: 0em;


    background-color: #F9F9F9;

}

#scroll-content-trip-manifest{
    width: 100%;
    height: auto;
    grid-area: 3/1/4/2;

    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    place-items: start center;
    gap: 1em;

    overflow-y: auto;

    margin: 0%;
    padding: 0.5em 0em 0.5em 0em;

}