@charset "Utf-8";

#customer-home-page{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 5fr;
    justify-items: center; 
    align-items: start;  
    gap: 1em;

    background: linear-gradient(to bottom, #077BFF, #042C50);
}

#header-home-mobile{
    display: grid;
    grid-area: 1/1/2/2;

    margin: 0%;
    padding: 0%;

    overflow: hidden;
}

#travel-search-card{
    width: 90%;
    height: 31em;

    display: grid;
    grid-area: 2/1/3/2;
   

    margin: 0%;
    padding: 0%;


    overflow: hidden;
}