@charset "Utf-8";

#travel-search-card{
    grid-template-rows: 1fr 6fr ;
    grid-template-columns: 1fr;
    gap: 0.1em;

    background-color: white;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#travel-search-card h2{
    width: 100%;
    
    grid-area: 1/1/2/2;
    place-self: center;

    font-size: 1.15em;
    font-weight: 600;
    text-align: center;

    padding: 0.6em;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#form-travel-search{
    width: 90%;

    grid-area: 2/1/3/2;
    place-self: start center;

    display: grid;
    grid-template-rows: 5em 5em 5em 4em 3em;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 0.8em;

    overflow: hidden;
}

.form-group{
    width: 100%;
}

.form-group label{
    font-size: 0.85em;
}

.form-group input{
    height: 3.5em;

    font-size: 0.75em;

    border-radius: 10px;
}

.form-row{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
}

.form-group-half{
    width: 85%;
}


#form-group-origin{
    display: grid;
    grid-area: 1/1/2/2;
}

#form-group-destination{
    display: grid;
    grid-area: 2/1/3/2;
}


.trip-type-way span{
    font-size: 0.85em;
}

.radio-option{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1em 6em;
    gap: 0.5em;
    
}

#date-area{
    grid-area: 3/1/4/2;
}

#radio-area{
    grid-area: 4/1/5/2;
    gap: 1;
}



#btn-search-travels{
    width: 90%;
    background-color: #077BFF;
}