@charset "Utf-8";

#travel-search-card{
    grid-template-rows: 1fr 6fr ;
    grid-template-columns: 1fr;
    place-items: center;

    background-color: white;

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#travel-search-card h2{
    width: 100%;
    font-size: 1.15em;
    font-weight: 600;
    text-align: center;

    padding: 0.6em;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#form-travel-search{
    width: 90%;

    display: grid;
    grid-template-rows: 5em 5em 5em 5em 5em;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1em;
}

.form-group{
    width: 100%;
}

.form-group label{
    font-size: 0.9em;
}

.form-group input{
    height: 3em;

    font-size: 0.9em;

    border-radius: 10px;
}

.form-group input:hover{
   border-color: #b9c0c6;
}

.input-full-width{
    width: 100%;
    
}


.form-group-half{
    width: 85%;
}

.form-row{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
}

#grid-date{
    grid-area: 3/1/4/2;
}

#grid-radio{
    grid-area: 4/1/5/2;
    gap: 1;
}

#btn-search-travels{
    width: 90%;
    background-color: #077BFF;
}

#form-group-origin{
    display: grid;
    grid-area: 1/1/2/2;
}

#form-group-destination{
    display: grid;
    grid-area: 2/1/3/2;
}
